.bsa-logo {
    height: 100px;
}

.container {
    height: calc(100% - (50px + 100px));
    padding: 50px 70px 50px 70px;
    background-color: #e3e3e3;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: repeat(8, 12.5%);
    grid-template-areas: "logo js php php php" "logo js php php php" "logo js php php php" "logo js dotnet dotnet events" "qa js dotnet dotnet events" "qa js dotnet dotnet blog" "qa java dotnet dotnet blog" "qa java dotnet dotnet contacts";
}

.contacts {
    background-color: #000987;
    color: white;
}

.blog {
    background-color: #2953a6;
    color: white;
}

.events {
    background-color: #02c5cc;
    color: white;
}

.php {
    background-color: #7987b5;
    font-size: 400%;
    font-style: italic;
}

.dotnet {
    background-color: #7108a6;
    font-size: 400%;
    color: white;
}

.js {
    background-color: #ffe169;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 400%;
}

.java {
    background-color: #e81e40;
    color: white;
    font-size: 200%;
}

.logo {
    background-color: white;
}

.qa {
    background-color: #5acc61;
    font-size: 400%;
    color: white;
}

.content {
    display: none;
    background-color: white;
    padding: 10px 10px 10px 10px;
    height: calc(100% - (10px + 10px));
    overflow-y: auto;
}

.card {
    height: 100%;
}

.wrapper:hover .card {
    display: none;
}

.wrapper:hover .content {
    display: block;
}

.wrapper:hover .contacts-content {
    display: flex;
}

.wrapper:hover .logo-content {
    display: flex;
}

.contacts-content>i {
    margin-right: 10px;
    font-size: 28px;
    cursor: pointer;
}

.contacts-content>i:hover {
    color: cornflowerblue;
}

.logo-area {
    grid-area: logo;
}

.qa-area {
    grid-area: qa;
}

.js-area {
    grid-area: js;
}

.java-area {
    grid-area: java;
}

.php-area {
    grid-area: php;
}

.dotnet-area {
    grid-area: dotnet;
}

.events-area {
    grid-area: events;
}

.blog-area {
    grid-area: blog;
}

.contacts-area {
    grid-area: contacts;
}

.join-button {
    background-color: #00abc2;
    border: none;
    color: white;
    padding: 7px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.join-button:hover {
    background-color: #0042bd;
}