header {
    animation: 1s ease-out 0s 1 fromTop;
    padding: 10px 70px 10px 70px;
    display: flex;
    justify-content: flex-end;
    height: 30px;
    position: sticky;
    top: 0;
    background-color: white;
}

.bs-logo {
    margin-right: auto;
}

.bell-icon {
    cursor: pointer;
    color: rgb(180, 179, 179);
}

.bell-icon:hover {
    cursor: pointer;
    color: rgb(161, 161, 161);
}

.profile-logo {
    margin-left: 10px;
    width: 30px;
    border-radius: 50%;
    background: #ffb224;
    cursor: pointer;
}

.profile-logo:hover {
    background-color: #e49b13;
}

input[type=checkbox] {
    display: none;
}

input[type=checkbox]:checked~.menu {
    display: block;
}