.menu {
    display: none;
    position: fixed;
    top: 45px;
    right: 70px;
    background-color: white;
    padding: 15px;
    width: 150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.name {
    color: grey;
    text-align: center;
    margin: 0;
}

.menu a {
    display: block;
    padding: 7px;
    text-decoration: none;
    color: black;
}

.menu a:hover {
    background-color: rgb(247, 247, 247);
}