.notification-wrapper {
    position: fixed;
    bottom: 0px;
    right: 10px;
}

.notification {
    width: 200px;
    margin-bottom: 10px;
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 4px;
    display: flex;
}

.notification i {
    margin-right: 15px;
}

.error {
    background-color: rgba(255, 0, 0, 0.88);
}

.success {
    background-color: rgba(0, 128, 0, 0.88);
}